// Custom.scss 
// Option A: Include all of Bootstrap


// =========================================================
// Designces Core
// Main stylesheet entry point
// =========================================================


// ========================================
// DESIGNCES CORE — THEME VARIABLES
// ========================================

// Brand colors.
$primary: rgb(127, 24, 127);
$primary-opacity-8: rgba(127, 24, 127, 0.8);
$gray: #E6E6E6;
$sale: rgba(167, 4, 4, 0.8);

// Typography.
$headings-font-family: 'Nunito', sans-serif;
$headings-font-weight: 800;
//$font-family-base: 'Poppins', sans-serif;
$font-family-base: 'Source Sans Pro', sans-serif;

// ========================================
// BOOTSTRAP THEME COLORS
// ========================================

// ye Bootstrap utilities/components ke liye custom theme colors generate karta hai.
$theme-colors: (
	"primary": $primary,
	"primary-opacity-8": $primary-opacity-8,
	"gray": $gray,
	"sale": $sale
);


// ========================================
// CUSTOM THEME COLORS
// ========================================

$custom-color: (
	"icon-background": rgba(127, 24, 127, 0.2)
);

$theme-colors: map-merge($theme-colors,
		$custom-color);


// ========================================
// CUSTOM BOOTSTRAP UTILITIES
// ========================================


$utilities: (
	"rounded": (property: border-radius,
		class: rounded,
		values: (null: 1rem,
			circle: 50%))
);


// ========================================
// BOOTSTRAP
// ========================================

@import "bootstrap-5.3.8/scss/bootstrap";


// ========================================
// DESIGNCES CORE — COMPONENT STYLES
// ========================================


@import "scss/header";

@import "scss/front-page";

@import "scss/footer";

